<html>
<head>
  <title>Candidate genes</title>
  <script type="text/javascript" language="javascript" src="https://reactome.org/DiagramJs/diagram/diagram.nocache.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/ju-1.11.4/jqc-1.11.3,dt-1.10.8/datatables.min.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/r/ju-1.11.4/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
  <style>
  td{
    word-break: break-all !important;
  }
  table {
    width:100%
  }
</style>
</head>
<body>
<div style="width:100%">
TABLE
</div>

<script>
$(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#candidates thead tr').clone(true).appendTo( '#candidates thead' );
    $('#candidates thead tr:eq(1) th').each( function (i) {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder=" " size=12/>' );
 
        $( 'input', this ).on( 'keyup change', function () {
            if ( table.column(i).search() !== this.value ) {
                table
                    .column(i)
                    .search( this.value )
                    .draw();
            }
        } );
    } );
 
    var table = $('#candidates').DataTable( {
        'orderCellsTop': true,
        'fixedHeader': true,
        'autoWidth': false
    } );
} );
</script>

</body>
